{% extends "@MyAppUser/layout.html.twig" %}

{% block content %}
    <h2 class="slide-title">Ins<strong>cription</strong></h2>


    {% include "@FOSUser/Registration/register_content.html.twig" %}

{% endblock content %}
