{% extends 'HoussemBackBundle::BackLayout.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <!-- Start Page Content -->

        <div class="align-self-center" >
            <div class="card card-outline-primary">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Contrat Assurance-Automobile</h4>
                </div>
                <div class="card-body">


                {{ form(fa) }}


                {{ form(fa) }}

                </div>
            </div>
        </div></div>
{% endblock content %}